body{

    background-color: lightblue;
}
p{
    font-family: 'Sansita Swashed', cursive;
    font-weight: 500;
    text-align: center;

}
/*making a bar with the channels name*/
div#channels{



}
li{
    
    list-style: none;
    display: flex;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: white;
    border-radius: 0.25em;
    box-shadow: 0em 0.2em 0.5em rgba(0,0,0,0.2);

    
}
